
/*
Big Stacked Text Nav
 
Markup:
<button class="btn btn-primary c_white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="fas fa-bars"></i> Menu
</button>
<div class="offcanvas offcanvas-start bg_white w_auto:md w_100" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-body relative">
  <button type="button" class="t_4:md r_4 br_0 br_none br_radius p-x_4 p-y_3  font_0 c_black-6 h:c_black b_4 b_auto:md absolute bg_black-_01" data-bs-dismiss="offcanvas" aria-label="Close">Close <i class="fas fa-times"></i></button>
<nav class="{{> "Nav.BigStackedText.Classes.Container"}} isolate z_3">
    <ul class="{{> "Nav.BigStackedText.Classes.Nav"}} ">
        {{> "Nav.BigStackedText.Link" }}
        {{> "Nav.BigStackedText.Link" modifier_class='active' }}
        {{> "Nav.BigStackedText.Link" modifier_class='disabled' }}
        {{> "Nav.BigStackedText.Dropdown" modifier_class="dropdown2"}}
        {{> "Nav.BigStackedText.Dropdown" modifier_class="dropdown3"}}
    </ul>
</nav>
</div>
</div>

MarkupWrapperClasses: 
 
Weight:10
 
Styleguide Nav.BigStackedText
*/


/*
Link
 
active - the active state of the nav item.
 
Markup:
<li class="{{> Nav.BigStackedText.Classes.LinkContainer}} {{modifier_class}}" >
    <a href="" class="{{> "Nav.BigStackedText.Classes.Link"}} {{modifier_class}}"> <span class="capitalize">{{modifier_class}}</span> Basic Link</a>
</li>

MarkupWrapperClasses: ul_none
 
Weight: -150
 
Styleguide Nav.BigStackedText.Link
*/

/*
Link - Dropdown
 
Description: 
 
Markup:
<li class="dropdown {{> Nav.BigStackedText.Classes.LinkContainer }}">
    <a href="#" class="{{> "Nav.BigStackedText.Classes.Link"}}">Drop Down Link</a>
    <a href="#" class="toggle {{> "Nav.BigStackedText.Classes.DropdownToggle"}} {{modifier_class}}" data-bs-target="{{modifier_class}}Menu" id="{{modifier_class}}Button" aria-expanded="false" data-bs-toggle="dropdown">
        <i class="fas {{> "Nav.BigStackedText.Classes.DropdownToggleIcon"}}"></i>
        <span class="display_none">Toggle Dropdown</span>
    </a>
    <ul class="dropdown-menu ul_none font_0  {{modifier_class}}" aria-labelledby="{{modifier_class}}Button" id="{{modifier_class}}Menu">
        <li><a class="dropdown-item {{> "Nav.DropTab.Classes.DropdownItem" }}" href="#">Action</a></li>
        <li><a class="dropdown-item {{> "Nav.DropTab.Classes.DropdownItem" }}" href="#">Another action</a></li>
        <li><a class="dropdown-item {{> "Nav.DropTab.Classes.DropdownItem" }}" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item {{> "Nav.DropTab.Classes.DropdownItem" }}" href="#">Separated link</a></li>
    </ul> 
</li>

MarkupWrapperClasses: ul_none

 
Weight: 0
 
Styleguide Nav.BigStackedText.Dropdown
*/

/* 
Classes

Markup:
<code class="overflow_scroll">
    <pre class="font_0l">
    Classes:{
        nav-container-classes:{ {{> "Nav.BigStackedText.Classes.Container"}} },
        nav-classes:{ {{> "Nav.BigStackedText.Classes.Nav"}}  },
        nav-link-container-classes:{ {{> Nav.BigStackedText.Classes.LinkContainer}} },
        nav-link-classes:{ {{> Nav.BigStackedText.Classes.Link}}  },
        nav-toggle-classes:{ {{> Nav.BigStackedText.Classes.DropdownToggle}}  },
        nav-toggle-icon:{ {{> "Nav.BigStackedText.Classes.DropdownToggleIcon"}} },
        nav-dropdown-item:{ {{> "Nav.DropTab.Classes.DropdownItem" }} }
    }
    </pre>
</code>

Weight: 100

Styleguide Nav.BigStackedText.Classes
*/

/*
Classes - Nav Container
 
Nav Container Classes
 
Markup:
font_7:lg font_4:md font_3 font_display font_light t_0 p_5
 
Weight:1000
 
Styleguide Nav.BigStackedText.Classes.Container
*/
/*
Classes - Nav
 
Nav Classes
 
Markup:
ul_none flex flex_column justify_start gap-y_4
 
Weight:1000
 
Styleguide Nav.BigStackedText.Classes.Nav
*/

/*
Classes - Link Container
 
Description: 
 
Markup:
flex_auto flex flex_row justify_flex-start nowrap gap-x_3 p-y_3:lg p-y_3:md p-y_2
 
Weight:1000
 
Styleguide Nav.BigStackedText.Classes.LinkContainer
*/

/*
Classes - Link
 
Description: 
 
Markup:
c_brand h:c_brand-n2 undecorated h:undecorated br-b_3  p-b_2 br_solid  br_white h:br_brand a:br_accent a:c_accent text_center:lg lh_0 
 
Weight:1000
 
Styleguide Nav.BigStackedText.Classes.Link
*/


/* 
Classes - Dropdown Toggle
 
Description: 
 
Markup:
toggle undecorated br_radius p-x_2 m-l_auto m-l_0:md m-r_4 c_brand h:c_brand-n2 flex flex_column justify_center flex_none  font-size_down-2:lg font-size_down-1:md
 
Weight:1000
 
Styleguide Nav.BigStackedText.Classes.DropdownToggle
*/
/*
Classes: Dropdown Toggle Icon
 

Markup:
fa-plus fal
 
Weight:0
 
Styleguide Nav.BigStackedText.Classes.DropdownToggleIcon
*/

/*
Classes: Dropdown Item
 
Markup:
h:bg_brand h:c_white 
 
Weight:0
 
Styleguide Nav.DropTab.Classes.DropdownItem
*/