
/*
Bar Nav
 
Bar Nav
 
Markup:
<nav class="{{> "Nav.Bar.Classes.Container"}}">
    <ul class="{{> "Nav.Bar.Classes.Nav"}} ">
        {{> "Nav.Bar.Link" }}
        {{> "Nav.Bar.Link" modifier_class='active' }}
        {{> "Nav.Bar.Dropdown" modifier_class="dropdown2"}}
        {{> "Nav.Bar.Dropdown" modifier_class="dropdown3"}}
    </ul>
</nav>

MarkupWrapperClasses: bg_texture-dark h_40
 
Weight:10
 
Styleguide Nav.Bar
*/


/*
Link
 
active - the active state of the nav item.
 
Markup:
<li class="{{> Nav.Bar.Classes.LinkContainer}} {{modifier_class}}" >
    <div class="flex flex_inline nowrap gap-x_3">            
        <a href="" class="{{> "Nav.Bar.Classes.Link"}} {{modifier_class}}"> <span class="capitalize">{{modifier_class}}</span> Basic Link</a>
    </div>
</li>

MarkupWrapperClasses: ul_none
 
Weight: -150
 
Styleguide Nav.Bar.Link
*/

/*
Link - Dropdown
 
Description: 
 
Markup:
<li class="dropdown {{> Nav.Bar.Classes.LinkContainer }}">
    <div class="flex flex_inline nowrap gap-x_3">            
        <a href="#" class="{{> "Nav.Bar.Classes.Link"}}">Drop Down Link</a>
        <a href="#" class="toggle {{> "Nav.Bar.Classes.DropdownToggle"}} {{modifier_class}}" data-bs-target="{{modifier_class}}Menu" id="{{modifier_class}}Button" aria-expanded="false" data-bs-toggle="dropdown">
            <i class="fas fa-chevron-down"></i>
            <span class="display_none">Toggle Dropdown</span>
        </a>
        <ul class="dropdown-menu ul_none font-size_down-1  {{modifier_class}}" aria-labelledby="{{modifier_class}}Button" id="{{modifier_class}}Menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul> 
    </div>
</li>

MarkupWrapperClasses: ul_none

 
Weight: 0
 
Styleguide Nav.Bar.Dropdown
*/

/* 
Classes

Markup:
<code>
    <pre>
    Classes:{
        nav-container-classes:{ {{> "Nav.Bar.Classes.Container"}} },
        nav-classes:{ {{> "Nav.Bar.Classes.Nav"}}  },
        nav-link-container-classes:{ {{> Nav.Bar.Classes.LinkContainer}} },
        nav-link-classes:{ {{> Nav.Bar.Classes.Link}}  },
        nav-toggle-classes:{ {{> Nav.Bar.Classes.DropdownToggle}}  },
        nav-toggle-icon:{ {{> "Nav.Bar.Classes.DropdownToggleIcon"}} },
        nav-dropdown-item:{ {{> "Nav.DropTab.Classes.DropdownItem" }} }
    }
    </pre>
</code>

Weight: 100

Styleguide Nav.Bar.Classes
*/

/*
Classes - Nav Container
 
Nav Container Classes
 
Markup:
bg_white-7 font_2:lg font_0:md font_display sticky t_0
 
Weight:1000
 
Styleguide Nav.Bar.Classes.Container
*/
/*
Classes - Nav
 
Nav Classes
 
Markup:
ul_none flex flex_row:md flex_column no_wrap
 
Weight:1000
 
Styleguide Nav.Bar.Classes.Nav
*/

/*
Classes - Link
 
Description: 
 
Markup:
text-shadow_black font_bold c_brand h:c_brand-n2 undecorated h:undecorated 
 
Weight:1000
 
Styleguide Nav.Bar.Classes.Link
*/

/*
Classes - Link Container
 
Description: 
 
Markup:
p_4 h:bg_white-5 flex_none
 
Weight:1000
 
Styleguide Nav.Bar.Classes.LinkContainer
*/

/*
Classes - Dropdown Toggle
 
Description: 
 
Markup:
toggle undecorated br_radius h:bg_white-5 p-x_2 m-l_auto text-shadow_black font_bold  text-shadow_white-1 c_brand h:c_brand-n2 
 
Weight:1000
 
Styleguide Nav.Bar.Classes.DropdownToggle
*/
/*
Classes: Dropdown Toggle Icon
 

Markup:
fa-chevron-circle-down
 
Weight:0
 
Styleguide Nav.Bar.Classes.DropdownToggleIcon
*/

/*
Classes: Dropdown Item
 
Markup:
h:bg-brand-5 
 
Weight:0
 
Styleguide Nav.DropTab.Classes.DropdownItem
*/