
/*
Bar Nav
 
Bar Nav
 
Markup:
<nav class="{{> "Nav.Bar.ContainerClasses"}}">
    <ul class="ul_none flex flex_row:md flex_column no_wrap {{> "Nav.Bar.Classes"}} ">
        {{> "Nav.Bar.Link" }}
        {{> "Nav.Bar.Dropdown" modifier_class="dropdown2"}}
        {{> "Nav.Bar.Dropdown" modifier_class="dropdown3"}}
    </ul>
</nav>

MarkupWrapperClasses: bg_texture-dark h_40
 
Weight:10
 
Styleguide Nav.Bar
*/


/*
Link
 
Description: 
 
Markup:
<li class="{{> Nav.Bar.Link.ContainerClasses}}" >
    <div class="flex flex_inline nowrap gap-x_3">            
        <a href="" class="{{> "Nav.Bar.Link.Classes"}}">Basic Link</a>
    </div>
</li>

MarkupWrapperClasses: ul_none
 
Weight: -150
 
Styleguide Nav.Bar.Link
*/

/*
Link - Dropdown
 
Description: 
 
Markup:
<li class="dropdown {{> Nav.Bar.Link.ContainerClasses }}">
    <div class="flex flex_inline nowrap gap-x_3">            
        <a href="#" class="{{> "Nav.Bar.Link.Classes"}}">Drop Down Link</a>
        <a href="#" class="toggle {{> "Nav.Bar.Dropdown.ToggleClasses"}} {{modifier_class}}" data-bs-target="{{modifier_class}}Menu" id="{{modifier_class}}Button" aria-expanded="false" data-bs-toggle="dropdown">
            <i class="fas fa-chevron-down"></i>
            <span class="display_none">Toggle Dropdown</span>
        </a>
        <ul class="dropdown-menu ul_none font-size_down-1  {{modifier_class}}" aria-labelledby="{{modifier_class}}Button" id="{{modifier_class}}Menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul> 
    </div>
</li>

MarkupWrapperClasses: ul_none

 
Weight: 0
 
Styleguide Nav.Bar.Dropdown
*/

/*
Classes - Nav Container
 
Nav Container Classes
 
Markup:
bg_white-7 font_1 font_display sticky t_0
 
Weight:1000
 
Styleguide Nav.Bar.ContainerClasses
*/
/*
Classes - Nav
 
Nav Classes
 
Markup:
gap-x_2
 
Weight:1000
 
Styleguide Nav.Bar.Classes
*/

/*
Classes - Link
 
Description: 
 
Markup:
text-shadow_black font_bold  text-shadow_white-1 c_primary h:c_primary-n2 undecorated h:underline 
 
Weight:1000
 
Styleguide Nav.Bar.Link.Classes
*/

/*
Classes - Link Container
 
Description: 
 
Markup:
p_4 h:bg_white-5 flex_none
 
Weight:1000
 
Styleguide Nav.Bar.Link.ContainerClasses
*/

/*
Classes - Dropdown Toggle
 
Description: 
 
Markup:
toggle undecorated br_radius h:bg_white-5 p-x_2 m-l_auto text-shadow_black font_bold  text-shadow_white-1 c_primary h:c_primary-n2 
 
Weight:1000
 
Styleguide Nav.Bar.Dropdown.ToggleClasses
*/