/*

Simple
 
Description: When the count of sessions is lower then 10 in count, the Simple Design is recommended. 

Markup:
<article class="c_black font_0 m-b_4 br-t_3 br_solid br_primary-2 br_radius isolation_isolate shadow_overlap-light">
    <div class="br_1 br-b_0 br-tr_radius br-tl_radius br_solid br_black-3 flex flex_column font_ui m-t_n2 relative">
        <div class="br-b_1 br_solid br_primary-n1">
            <div class="p_4 p-b_2 flex flex_column flex_row:lg">
                <h3 class="font_display m-b_3 lh_2 c_primary-n2 font-size_up-2 p-r_4:lg">
                    <span class="block">
                        <strong class="font_bold p-r_3">101</strong>
                        Cardiovascular Update for the Clinician III                    </span>
                    <span class="c_accent font-size_down-1">Saturday, Nov 20, 2021  @ 11:15 AM – 11:45 AM <abbr title="EASTERN DAYLIGHT TIME, UTC -4">EDT</abbr></span>
                </h3>
                <div class="flex_grow m-l_auto:lg">
                    <div class="flex flex_column-reverse flex_row-reverse:lg flex_wrap gap-x_3 gap-y_3 p-y_3 p-y_0:lg justify_start">
                        <a href="" class="btn btn-primary h:bg_secondary-n3 z_5">Watch </a>
                        <a href="" class="btn btn-secondary z_5 a:bg_alert h:bg_alert-n3 { active }"><i class="fas fa-heart c_white"></i></a>
                    </div>
                </div>
            </div>
            <h4 class="font-size_up p-x_4 c_primary font_medium">Presentations</h4>
            <ul class="ul_none br-t_1 br_solid br_primary p_0 font_n1 bg_primary-n3">
                <li class="br-t_1 br_black-2 br_solid p-x_4 p-y_3 m_0 lh_2 bg_white">
                    <span class="font-size_up-1 block font_display">New York Cardiovascular Symposium 2021 Welcome Video and Introduction of Session and Faculty</span>
                    <span class="font-size-down opacity_7 font_ui"><strong class="c_primary">Co-Chair:</strong>Pepper H. Soda, MD, FACC (New York, NY, USA)</span>
                    <span class="font-size-down-1 opacity_6 font_italic block">11:45 – 11:49 AM <abbr title="EASTERN DAYLIGHT TIME, UTC -4">EDT</abbr></span>
                </li>
                <li class="br-t_1 br_black-2 br_solid p-x_4 p-y_3 m_0 lh_2 bg_white-9">
                    <span class="font-size_up-1 block font_display">Antiplatelet Regimen After Drug Coated Balloon </span>
                    <span class="font-size-down opacity_7 font_ui">Chen (China)</span>
                    <span class="font-size-down-1 opacity_6 font_italic block">12:00 – 12:45 PM <abbr title="EASTERN DAYLIGHT TIME, UTC -4">EDT</abbr></span>
                </li>
                <li class="br-t_1 br_black-2 br_solid p-x_4 p-y_3 m_0 lh_2 bg_white-9">
                    <span class="font-size_up-1 block font_display">Case: Drug Coated Balloon in De Novo Ostial Left Anterior Descending Artery </span>
                    <span class="font-size-down opacity_7 font_ui">Qiu (China)</span>
                    <span class="font-size-down-1 opacity_6 font_italic block">12:45 – 1:00 PM <abbr title="EASTERN DAYLIGHT TIME, UTC -4">EDT</abbr></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="c_black flex flex_wrap font_n2 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3">
        <div class="flex_auto"> <a href="#modal-extra" class="block h:underline uppercase font_bold" data-remote="https://disclosures.acc.org/Public/AnnualMeetingAppConsol?pid=14617" data-toggle="modal" data-target="#modal-disclosures"><i class="far fa-paperclip"></i> Attachments</a>
        </div>
        <div class="flex_grow uppercase m-l_auto">
            <ul class="ul_none font_n2 text_right">
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_CME br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cme
                </li>
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_COP br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cop
                </li>
            </ul>
        </div>
    </div>
</article>


Weight: 10
 
Styleguide Recipes Virtual.Sessions.Simple

*/