$teal: #3182bd;
$dark-grey: #676a72;
$orange: #e6550d;
$black: #101010;
$white: #fdfdfd;
$theme-palette: (
    primary: $teal,
    secondary: $dark-grey,
    accent: $orange,
    black: $black,
    white: $white,
    );