$active-class-name:'active';
$css-properties: (
    background-color: (
        name: 'bg',
        direction:null,
        property: (
            'background-color',
        ),
        unit: 'percent',
        loopMode: 'color',
        responsive: false,
        states:true,
    ),
    background-position: (
        name: 'bg',
        direction:null,
        property: (
            'background-position',
        ),
        unit: 'background-position',
        responsive: false
    ),
    border-color: (
        name: 'br',
        direction:null,
        property: (
            'border-color',
        ),
        unit: 'percent',
        loopMode:'color',
        responsive: false,
        states:true,

    ),
    border-style: (
        name: 'br',
        direction:null,
        property: (
            'border-style',
        ),
        unit: 'border-style', responsive: true
    ),
    border-width: (
        name: 'br',
        direction:direction-edges,
        property: (
            'border-width',
        ),
        unit: border-width,
    ),
    border-radius: (
        name: 'br',
        direction:direction-corners,
        property: (
            'border-radius',
        ),
        unit: 'radius',
        responsive: true
    ),
    box-shadow: (
        name: 'shadow',
        direction:null,
        property: (
            'box-shadow',
        ),
        unit: 'shadow',
    ),
    rich-shadow: (
        name: 'shadow',
        direction:null,
        property: (
            'box-shadow',
        ),
        unit: 'rich-shadow',
    ),
    display: (
        name: '',
        direction:null,
        property: (
            'display',
        ),
        unit: 'display',
        responsive:true
    ),
    text-align: (
        name: 'text',
        direction:null,
        property: (
            'text-align',
        ),
        unit: 'text-align',
    ),
    font-color: (
        name: 'c',
        direction:null,
        property: (
            'color',
        ),
        unit: 'percent',
        loopMode: 'color',
        responsive: false,
        states:true,
    ),
    float: (
        name: 'float',
        direction:null,
        property: (
            'float',
        ),
        unit: 'float',
    ),
    font-family: (
        name: 'font',
        direction:null,
        property: (
            'font-family',
        ),
        unit: 'font-family',
    ),
    font-size: (
        name: 'font',
        direction:null,
        property: (
            'font-size',
        ),
        unit: 'font-size',
        responsive:true
    ),
    font-weight: (
        name: 'font',
        direction:null,
        property: (
            'font-weight',
        ),
        unit: 'font-weight',
        states:true,
    ),
    bottom: (
        name: 'b',
        direction:null,
        responsive:true,
        property: (
            'bottom',
        ),
        unit: 'sizeAlt',
    ),
    left: (
        name: 'l',
        direction:null,
        responsive:true,

        property: (
            'left',
        ),
        unit: 'sizeAlt',
    ),
    list-type: (
        name: 'ul',
        direction:null,
        property: (
            'list-style-type',
        ),
        unit: 'list-type',
    ),
    margin: (
        name: 'm',
        direction:direction-edges,
        responsive:true,
        property: (
            'margin',
        ),
        unit: 'size',
    ),
    margin-horizontal: (
        name: 'm-x',
        direction:null,
        responsive:true,
        property: (
            'margin-right',
            'margin-left',
            'margin-inline-start',
            'margin-inline-end',
        ),
        unit: 'size',
    ),
    margin-vertical: (
        name: 'm-y',
        direction:null,
        responsive:true,
        property: (
            'margin-top',
            'margin-bottom',
            'margin-block-start',
            'margin-block-end',
        ),
        unit: 'size',
    ),
    grid-column-gap: (
        name: 'gap-x',
        direction:null,
        property: (
            'grid-column-gap',
        ),
        unit: 'size-positive',
    ),
    grid-row-gap: (
        name: 'gap-y',
        direction:null,
        property: (
            'grid-row-gap',
        ),
        unit: 'size-positive',
    ),
    padding: (
        name: 'p',
        direction:'direction-edges',
        property: (
            'padding',
        ),
        unit: 'size-positive',
    ),
    padding-horizontal: (
        name: 'p-x',
        property: (
            'padding-left',
            'padding-right',
            'padding-inline-start',
            'padding-inline-end',
        ),
        direction:null,
        unit: 'size-positive',
    ),
    padding-vertical: (
        name: 'p-y',
        direction:null,
        property: (
            'padding-bottom',
            'padding-top',
            'padding-block-start',
            'padding-block-end',
        ),
        unit: 'size-positive',
    ),
    line-height: (
        name: 'lh',
        direction:null,
        property: (
            'line-height',
        ),
        unit: 'line-height',
    ),
    opacity: (
        name: 'opacity',
        direction:null,
        property: (
            'opacity',
        ),
        unit: 'opacity',
        states:true,
    ),
    background-blend-mode: (
        name: 'bg-blend',
        direction:null,
        property: (
            'background-blend-mode',
        ),
        unit: 'blend',
    ),
    mix-blend-mode: (
        name: 'font-blend',
        direction:null,
        property: (
            'mix-blend-mode',
        ),
        unit: 'blend',
    ),
    position: (
        name: '',
        direction:null,
        property: (
            'position',
        ),
        unit: 'position',
    ),
    right: (
        name: 'r',
        direction:null,
        responsive:true,
        property: (
            'right',
        ),
        unit: 'sizeAlt',
    ),
    top: (
        name: 't',
        direction:null,
        responsive:true,
        property: (
            'top',
        ),
        unit: 'sizeAlt',
    ),
    text-indent: (
        name: 'text-indent',
        direction:null,
        property: (
            'text-indent',
        ),
        unit: 'text-indent',
    ),
    text-shadow: (
        name: 'text-shadow',
        direction:null,
        property: (
            'text-shadow',
        ),
        unit: 'text-shadow',
    ),
    transition: (
        name: 'transition',
        direction:null,
        property: (
            'transition',
        ),
        unit: 'transition',
    ),
    ease: (
        name: 'ease',
        direction:null,
        property: (
            'transition-timing-function',
        ),
        unit: 'ease',
    ),
    transform-origin: (
        name: 'origin',
        direction:null,
        property: (
            'transform-origin',
        ),
        unit: 'transform-origin',
    ),
    scale: (
        name: 'scale',
        direction:null,
        property: (
            'transform',
        ),
        unit: 'scale',
    ),
    grid-width: (
        name: 'w-grid',
        direction:null,
        property: (
            'width',
        ),
        unit: grid,
    ),
    height-viewport: (
        name: 'h',
        direction:null,
        property: (
            'height',
        ),
        unit: height-viewport,
    ),
    min-height: (
        name: 'min-h',
        direction:null,
        property: (
            'min-height',
        ),
        unit: height-viewport,
    ),
    width: (
        name: 'w',
        direction:null,
        property: (
            'width',
        ),
        unit: width-percent,
    ),
    max-width: (
        name: 'max-w',
        direction:null,
        property: (
            'max-width',
        ),
        unit: max-width,
    ),
    word-break: (
        name: 'break',
        direction:null,
        property: (
            'word-break',
        ),
        unit: word-break,
    ),
    z-index: (
        name: 'z',
        direction:null,
        property: (
            'z-index',
        ),
        unit: z-index,
    ),
    flex-direction:(
        name:'flex',
        direction:null,
        responsive:true,
        property:(
            flex-direction
        ),unit:flex-direction
    ),
    justify-content:(
        name:'justify',
        direction:null,
        responsive:true,
        property:(
            justify-content
        ),
        unit:justify-content
    ),
    align-items:(
        name:'flex',
        direction:null,
        responsive:true,
        property:(
            align-items
        ),
        unit:align-items
    ),
    text-decoration:(
        name:'',
        direction:null,
        responsive:true,
        property:(
            text-decoration
        ),
        unit:text-decoration
    )
    );
