@use "modularscale-sass/stylesheets/_modularscale.scss" as *;
@use "../helpers" as helper;
@use "sass:math";
$base-font-size: 16px;
$basicSizeMultiplier: 1rem;
$global-border-radius: math.div(1rem, 3) !default;
$global-border-round: 1rem !default;
$modularscale: (
  base: 1rem,
  ratio: 1.25,
);

$units: (
	states: (
		a:active,
		h:hover
	),
	cursor: (
		not-allowed:not-allowed,
		pointer:pointer,
	),
	direction-edges: (
		t:(logical:block-start),
		l:(logical:inline-start),
		r:(logical:inline-end),
		b:(logical:block-end)
	),
	direction-corners: (
		tl: (
			fallback: top-left,
			logical: start-start,
		),
		tr: (
			fallback: top-right,
			logical: start-end,
		),
		bl: (
			fallback: bottom-left,
			logical: end-start,
		),
		br: (
			fallback: bottom-right,
			logical: end-end,
		),
	),
	breakpoints: (
		sm: 480px,
		md: 768px,
		lg: 1024px,
		xl: 1200px
	),
	unset:(unset:unset),
	auto:(auto:auto),
	100:(100:100%),
	size-negative: (		
		n10: -64 * $basicSizeMultiplier,
		n9: -32 * $basicSizeMultiplier,
		n8: -16 * $basicSizeMultiplier,
		n7: -8 * $basicSizeMultiplier,
		n6: -4 * $basicSizeMultiplier,
		n5: -2 * $basicSizeMultiplier,
		n4: -1 * $basicSizeMultiplier,
		n3: -0.5 * $basicSizeMultiplier,
		n2: -0.25 * $basicSizeMultiplier,
		n1: -1px,
	),
	size-positive: (
		0: 0,
		1: 1px,
		2: 0.25 * $basicSizeMultiplier,
		3: 0.5 * $basicSizeMultiplier,
		4: 1 * $basicSizeMultiplier,
		5: 2 * $basicSizeMultiplier,
		6: 4 * $basicSizeMultiplier,
		7: 8 * $basicSizeMultiplier,
		8: 16 * $basicSizeMultiplier,
		9: 32 * $basicSizeMultiplier,
		10: 64 * $basicSizeMultiplier,
	),
	unitless-negative: (
		n5: -5,
		n4: -4,
		n3: -3,
		n2: -2,
		n1: -1,
	),
	unitless-positive: (
		0: 0,
		1: 1,
		2: 2,
		3: 3,
		4: 4,
		5: 5,
	),
	line-height: (
		0: 1,
		1: 1.125,
		2: 1.35,
		3: 1.6,
		4: 1.8,
		5: 2.5,
	),
	opacity: (
		0: 0,
		_01: 0.005,
		_05: 0.0075,
		1: 0.025,
		2: 0.1,
		3: 0.25,
		4: 0.38,
		5: 0.5,
		6: 0.62,
		7: 0.75,
		8: 0.9,
		9: 0.975,
		10: 1,
	),
	percent-10: (
		0: 0%,
		1: 5%,
		2: 12%,
		3: 25%,
		4: 38%,
		5: 50%,
		6: 62%,
		7: 75%,
		8: 88%,
		9: 95%,
		none: 100%,
	),
	percent-positive: (
		0: 0%,
		1: 15%,
		2: 37%,
		3: 60%,
		4: 78%,
		5: 90%,
	),
	percent-negative: (
		n1: -15%,
		n2: -37%,
		n3: -60%,
		n4: -78%,
		n5: -90%,
	),
	decimal-positive: (
		0: 0,
		1: .15,
		2: .37,
		3: .6,
		4: .78,
		5: .9,
	),
	decimal-negative: (
		n1: -.15,
		n2: -.37,
		n3: -.60,
		n4: -.78,
		n5: -.90,
	),
	width-percent: (
		auto: auto,
		0: 0%,
		5: 5%,
		10: 10%,
		15: 15%,
		20: 20%,
		25: 25%,
		30: 30%,
		35: 35%,
		40: 40%,
		45: 45%,
		50: 50%,
		55: 55%,
		60: 60%,
		65: 65%,
		70: 70%,
		75: 75%,
		80: 80%,
		85: 85%,
		90: 90%,
		95: 95%,
		100: 100%,
		1-third: 33%,
		2-thirds: 66%,
	),
	height-viewport: (
		auto: auto,
		0: 0vh,
		10: 10vh,
		20: 20vh,
		30: 30vh,
		40: 40vh,
		50: 50vh,
		60: 60vh,
		70: 70vh,
		80: 80vh,
		90: 90vh,
		100: 100vh,
		unset: unset,
		0lh: 1em,
		1lh: 1.25em,
		2lh: 1.45em,
		3lh: 1.65em,
		4lh: 1.75em,
		5lh: 2.5em,
	),
	blend: (
		normal: normal,
		multiply: multiply,
		screen: screen,
		overlay: overlay,
		darken: darken,
		lighten: lighten,
		color-dodge: color-dodge,
		color-burn: color-burn,
		hard-light: hard-light,
		soft-light: soft-light,
		difference: difference,
		exclusion: exclusion,
		hue: hue,
		saturation: saturation,
		color: color,
		luminosity: luminosity,
		initial: initial,
		inherit: inherit,
		unset: unset,
	),
	percent: (
		0: 0%,
		1: 15%,
		2: 37%,
		3: 60%,
		4: 78%,
		5: 90%,
		n1: -10%,
		n2: -25%,
		n3: -45%,
		n4: -58%,
		n5: -75%,
	),
	radius: (
		square: 0px,
		radius: $global-border-radius,
		round: $global-border-round,
		circle: 100%,
	),
	float: (
		unset: unset,
		none: none,
		left: left,
		right: right,
	),
	text-align: (
		unset: unset,
		center: center,
		left: left,
		right: right,
		start: start,
		end: end,
	),	
	text-decoration: (
		unset: unset,
		underline: underline,
		dotted: dotted,
		dashed: dashed,
		double: double,
		undecorated: none,
		
	),
	text-transform:(
		uppercase:uppercase,          
		lowercase:lowercase,          
		capitalize:capitalize         
	),
	background-position: (
		left: left center,
		right: right center,
		top: center top,
		bottom: center bottom,
		center: center center,
	),
	border-style: (
		none: none,
		solid: solid,
		dashed: dashed,
		dotted: dotted,
	),
	font-weight: (
		light: 100,
		regular: 400,
		medium: 500,
		bold: 700,
		xbold: 900,
	),
	font-size: (
		n5: ms(-5),
		n4: ms(-4),
		n3: ms(-3),
		n2: ms(-2),
		n1: ms(-1),
		0: ms(0),
		1: ms(1),
		2: ms(2),
		3: ms(3),
		4: ms(4),
		5: ms(5),
		6: ms(6),
		7: ms(7),
		8: ms(8),
		9: ms(9),
		10: ms(10),
	),
	font-size-adjust: (
		down-1:helper.strip-unit(ms(-1)) * 1em,
		down-2:helper.strip-unit(ms(-2)) * 1em,
		down-3:helper.strip-unit(ms(-3)) * 1em,
		down-4:helper.strip-unit(ms(-4)) * 1em,
		down-5:helper.strip-unit(ms(-5)) * 1em,
		up-1:helper.strip-unit(ms(1)) * 1em,
		up-2:helper.strip-unit(ms(2)) * 1em,
		up-3:helper.strip-unit(ms(3)) * 1em,
		up-4:helper.strip-unit(ms(4)) * 1em,
		up-5:helper.strip-unit(ms(5)) * 1em,
	),
	display: (
		block: block,
		inline: inline,
		inline-block: inline-block,
		table-cell: table-cell,
		table: table,
		table-row: table-row,
		flex: flex,
		inline-flex: inline-flex,
		grid: grid,
		display_none: none,
	),
	hover: (
		dark: -30%,
		light: 30%,
	),
	transition: (
		0: all 0s,
		1: all 0.1s,
		2: all 0.2s,
		3: all 0.35s,
		4: all 0.5s,
		5: all 1s,
	),
	ease: (
		linear: linear,
		out-in: ease,
		in: ease-in,
		out: ease-out,
		in-out: ease-in-out,
	),
	transform-origin: (
		tl: left top,
		rt: right top,
		c: center center,
		lb: left bottom,
		rb: right bottom,
		t: center top,
		b: center bottom,
		r: right center,
		l: left center,
	),
	scale: (
		X-0: scaleX(0),
		X-100: scaleX(1),
		Y-0: scaleY(0),
		Y-100: scaleY(1),
		0: scale(0, 0),
		100: scale(1, 1),
	),
	active: (
		dark: 100%,
		light: 100%,
	),
	border-width: (
		0: 0px,
		1: 1px,
		2: 3px,
		3: 0.25rem,
		4: 0.5rem,
		5: 1rem,
	),
	font-family: (
		accent: #{'Roboto Slab',
		'Times New Roman',
		'Lucida Bright',
		Georgia,
		serif},
		display: #{'Maven Pro',
		'Open Sans',
		'Helvetica Neue',
		'Helvetica',
		Helvetica,
		Arial,
		sans-serif},
		copy: #{'Open Sans',
		'Helvetica Neue',
		'Helvetica',
		Helvetica,
		Arial,
		sans-serif},
		ui: #{'Open Sans',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif},
		mono: #{SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		'Liberation Mono',
		'Courier New',
		monospace},
	),
	grid: (
		1: math.div(1, 12) * 100%,
		2: math.div(1, 6) * 100%,
		3: math.div(1, 4) * 100%,
		4: math.div(1, 3) * 100%,
		5: math.div(5, 12) * 100%,
		6: math.div(1, 2) * 100%,
		7: math.div(7, 12) * 100%,
		8: math.div(2, 3) * 100%,
		9: math.div(3, 4) * 100%,
		10: math.div(5, 6) * 100%,
		11: math.div(1, 12) * 100%,
		12: math.div(1, 12) * 100%,
	),
	max-width: (
		0: 0,
		5: 5rem,
		10: 10rem,
		15: 15rem,
		20: 20rem,
		25: 25rem,
		30: 30rem,
		35: 35rem,
		40: 40rem,
		45: 45rem,
		50: 50rem,
		55: 55rem,
		60: 60rem,
		65: 65rem,
		70: 70rem,
		75: 75rem,
		80: 80rem,
		85: 85rem,
		90: 90rem,
		95: 95rem,
	),
	position: (
		initial: initial,
		inherit: inherit,
		relative: relative,
		absolute: absolute,
		fixed: fixed,
		sticky: sticky,
		unset: unset,
	),
	word-break: (
		break-all: break-all,
		word-break: word-break,
		keep-all: keep-all,
		normal: normal,
		unset: unset,
	),
	list-type: (
		none: none,
		bullet: disc,
		circle: circle,
		square: square,
		lowercase: lower-alpha,
		uppercase: upper-alpha,
	),
	text-shadow: (
		none: 0px 0px 0px rgba(0, 0, 0, 0),
		white-1: 2px 2px 2px rgba(255, 255, 255, 0.25),
		black-1: 2px 2px 2px rgba(0, 0, 0, 0.25),
		white-n1: -1px -1px 2px rgba(255, 255, 255, 0.5),
		black-n1: -1px -1px 2px rgba(0, 0, 0, 0.5),
	),
	text-indent: (
		0: 0,
		n1: -1 * $base-font-size,
		n2: -2 * $base-font-size,
		n3: -3 * $base-font-size,
		1: 1 * $base-font-size,
		2: 2 * $base-font-size,
		3: 3 * $base-font-size,
	),
	z-index: (
		0: -1,
		1: 1,
		2: 100,
		3: 1000,
		4: 5000,
		5: 9999,
	),
	shadow: (
		0: helper.make-shadow(3, 'drop', #000, 0.4),
		1: helper.make-shadow(1, 'drop', #000, 0.1),
		2: helper.make-shadow(2, 'drop', #000, 0.2),
		3: helper.make-shadow(3, 'drop', #000, 0.3),
		4: helper.make-shadow(3.5, 'drop', #000, 0.5),
		5: helper.make-shadow(4, 'drop', #000, 0.65),
		n1: helper.make-shadow(1, 'inset', #000, 0.1),
		n2: helper.make-shadow(2, 'inset', #000, 0.2),
		n3: helper.make-shadow(3, 'inset', #000, 0.3),
		n4: helper.make-shadow(3.5, 'inset', #000, 0.5),
		n5: helper.make-shadow(4, 'inset', #000, 0.65),
	),
	rich-shadow: (
		emboss-light:
			'inset 1px 1px 2px 0px rgba(0,0,0,0.06), inset 2px 2px 3px 0px rgba(18, 56, 136, 0.045), inset -2px -2px 3px 0px rgba(145,112,19,0.045)',
		emboss-bold:
			'inset 2px 3px 10px 0px rgba(0,0,0,0.13), inset 4px 4px 13px 0px rgba(11,20,28,0.07), inset -2px -2px 9px 0px rgba(145,112,19,0.04), inset 2px 1px 5px 4px rgba(0,0,0,0.9)',
		bevel-light:
			'-2px -2px 2px rgba(255, 255, 255, .05 ), -2px -2px 3px rgba(255, 255, 255, .14 ), 2px 3.5px 5.5px rgba(0, 0, 0, .07), 0 6.4px 9.1px rgba(0, 0, 0, .02), 0 16px 9px rgb(0, 0, 0, .02)',
		bevel-bold:
			'-2px -2px 4px hsla(0, 0%, 82.4%, 0.05), -2px -2px 3px hsla(0, 0%, 46.7%, 0.07), 1px 2.5px 4.5px rgba(0, 0, 0, 0.4), 0 6.4px 12.1px rgba(0, 0, 0, 0.14), 0 16px 19px rgba(0,0,0,.07)',
		overlap-light: '0 1px 10px hsla(0, 0%, 0%, 0.05), 0 2px 4px rgba(0,0,0,.3), 1px 5px 5px rgba(0,0,0,.01)',
		overlap-bold:
			'-1px -2px 4px rgba(0,0,0,.08), 0 1px 10px hsla(0, 0%, 0%, 0.06), 0 3px 4px rgba(0,0,0,.5), 1px 5px 5px rgba(0,0,0,.03)',
	),
	flex-direction: (
		row: row,
		column: column,
		row-reverse: row-reverse,
		column-reverse: column-reverse,
		inherit: inherit,
	),
	flex-wrap: (
		nowrap: nowrap,
		wrap_unset: unset,
		wrap: wrap,
		wrap_reverse: wrap-reverse,

	),
	justify-content: (
		flex-start: flex-start,
		flex-end: flex-end,
		center: center,
		space-between: space-between,
		space-around: space-around,
		space-evenly: space-evenly,
	),
	align-items: (
		stretch: stretch,
		center: center,
		start: flex-start,
		end: flex-end,
		baseline: baseline,
	),
);
