%Data.Presenter {
}
/*
Presenter 

Description:
An educator who created or participated in a presentation

Weight:1000

Styleguide Data.Presenter
*/

%Data.Presenter.Photo {
}

/*
Photo
 
Description:
A photo of the Presenter member
 
Markup:
<img
    class="aspect_1x1 w_100"
    src="https://i.pravatar.cc/300"
    alt="{{> "Data.Presenter.FullName" }}"
/>

MarkupWrapperClasses: max-w_30

FORMAT: 300px by 300px

Weight:0

Styleguide Data.Presenter.Photo
*/
%Data.Presenter.FullName {
}
/*
Full Name
 
The full name of the Presenter member
 
Markup: Pepper H. Soda III, MD, FACC
 

FORMAT: First Name MI (if known) Last Name Suffix (Jr., Sr., the III ), Optional Degree, Optional ACC Honorifics, Optional Exceptions Honorifics

Weight:0
 
Styleguide Data.Presenter.FullName
*/
%Data.Presenter.Location {
}
/*
Location
 
Description:
The location of the Presenter member
 
Markup: New York, NY, USA
 
Weight:0

FORMAT: City, State, Country

NOTE:  if the conference country is USA you can drop the country if it is USA.

Styleguide Data.Presenter.Location
*/
%Data.Presenter.Title {
}
/*
Title
 
Description:
the roles of the Presenter member within the session
 
Markup:
{{> "Data.Presenter.Title.InstitutionTitle" }}, {{> "Data.Presenter.Title.InstitutionDivision" }}, {{> "Data.Presenter.Title.Institution" }}
 


FORMAT: Institution Title, Institution Division, Institution

NOTE: This format is currently not being enforced.

EXPERIMENTAL: This is not an approved data point.

Weight:100

Styleguide Data.Presenter.Title
*/
%Data.Presenter.Institution {
}
/*
Institution
 
Description:
Institution of the Presenter member where they hold a title
 
Markup:
Mount SugarLoaf Hospital
 
Weight:101
 
Styleguide Data.Presenter.Title.Institution
*/
%Data.Presenter.InstitutionDivision {
}
/*
Institution Division
 
Description:
The Division of the Institution of the Presenter member where they hold a title
 
Markup:
Mount SugarLoaf Hospital
 
Weight:102
 
Styleguide Data.Presenter.Title.InstitutionDivision
*/
%Data.Presenter.InstitutionTitle {
}
/*
Institutional Title
 
Description:
the roles of the Presenter member within the session
 
Markup:
Physician-in-Chief
 
Weight:103
 
Styleguide Data.Presenter.Title.InstitutionTitle
*/
%Data.Presenter.TwitterHandle {
}
/*
Twitter Handle
 
Description:
The handle of the Presenter member on twitter
 
Markup:
Tweat_DrSoda
 
Weight:0
 
Styleguide Data.Presenter.TwitterHandle
*/

%Data.Presenter.Role {
}
/*
Role
 
Description:
the roles of the Presenter member within the session
 
Markup:
Co-Chair
 
Weight:0
 
Styleguide Data.Presenter.Role
*/
%Data.Presenter.Bio {
}
/*
Bio
 
Description:
simple html text that describes the Presenter member
 
Markup:
<p>Omnis laboriosam vero dolorum harum nihil debitis placeat eligendi. Molestiae voluptatibus nemo eveniet. Vero ipsum eius. Alias sapiente quidem dolore dolorem atque alias est.</p>
 
Weight:0
 
Styleguide Data.Presenter.Bio
*/
%Data.Presenter.ID {
}
/*
Identification Number
 
Description:
this id can both be used to link to the Presenter member's page, the member's image, and disclosures
 
Markup:
122154254
 
Weight:0
 
Styleguide Data.Presenter.ID
*/
