
%Data.Session {
}
/*
Session 
 
A Session is a specific time slot in an Agenda. This could be either a single presentation or a series of presentations.
 
Markup:
Electrical Disorders - Rhythm and Conduction Disorders

Experiential: This is not an approved data point.

Weight:100
 
Styleguide Data.Session
*/

%Data.Session.Subtitle {
}
/*
Session Subtitle
 
The subtitle of a Session.
 
Markup:
Electrical Disorders - Rhythm and Conduction Disorders

Experiential: This is not an approved data point.

Weight:2
 
Styleguide Data.Session.Subtitle
*/
%Data.Session.Title {
}
/*
Session Title
 
Description:
The title of a Session.
 
Markup:
Cardiovascular Update for the Clinician III
 
Weight:1
 
Styleguide Data.Session.Title
*/

%Data.Session.ID {
}
/*
Session Identifier
 
Description:
The ID given to a session
 
Markup:
3652
 
Weight:0
 
Styleguide Data.Session.ID
*/

%Data.Session.Subtitle {
}
/*
Session Description
 
The description of a session.
 
Markup:
<p>Maxime et ea adipisci voluptas. Omnis nobis recusandae alias eius sed ipsam aut. Ipsam dolore qui. Soluta laudantium quae assumenda ipsa tempore voluptas et culpa. Et praesentium quasi. Quas ratione vero aspernatur.</p>
 
Weight:3
 
Styleguide Data.Session.Description
*/