%Data.Sponsor {
}
/*
Sponsor
 
Description:
Sponsor are industry that has offered money or support to an event.
 
Weight:0
 
Styleguide Data.Sponsor
*/

%Data.Sponsor.Name {
}
/*
Sponsor Item
 
Description:
Sponsor's Name
 
Weight:0
 
Styleguide Data.Sponsor.Name
*/


/*
Address
 
Description:
Sponsor's Name

Markup:
<address>
    <!-- http://microformats.org/wiki/hcard -->
    <div class="font_ui font_0">
        <ul class="ul_none  lh_2">
            <li class="">
                <span class="street-address">2400 N. St. NW</span>
            </li>
            <li class="">
                <span class="locality ">Washington</span>,
                <span class="city-name ">
                    <abbr title="District of Colombia">DC</abbr>
                </span>
                <span class="postal-code">20037</span>
            </li>
            <li class="">
                <a href="mailto:MemberCare@acc.org" class="email c_white text_underline  h:c_white ">
                    <strong class="p-r_2 inline block:md inline:lg">Email:</strong>
                    <span class="inline block:md inline:lg">MemberCare@acc.org</span></a>
            </li>
        </ul>
        <ul class="ul_none lh_2">
            <li class="">
                <a tel="+12023756000" href="tel:+12023756000" class="tel c_white h:c_white h:underline">
                    <strong class="p-r_2 block:md inline:lg">Phone:</strong><span class=" block:md inline:lg">(202) 375-6000, ext. 5603</span></a>
            </li>
            <li class="">
                <a tel="+18002574737" href="tel:+18002534636.5603" class="tel c_white h:c_white h:underline">
                    <strong class="p-r_2 block:md inline:lg">Toll Free:</strong><span class=" block:md inline:lg">(800) 253-4636, ext. 5603</span></a>
            </li>
            <li class="">
                <a fax="+12023757000" href="fax:+12023757000" class="fax c_white h:c_white h:underline">
                    <strong class="p-r_2 block:md inline:lg">Fax:</strong>
                    <span class="block:md inline:lg">(202) 375-7000</span>
                </a>
            </li>
        </ul>
    </div>
</address>

Weight:20
 
Styleguide Data.Sponsor.Name
*/
