// CLI commands:
// sass --sourcemap=none kss.scss:kss.css
// sass --watch --sourcemap=none kss.scss:kss.css


@import '_kss-settings.scss';
@import '_kss-tools.scss';

@import '_kss-body.scss';
@import '_kss-title.scss';
@import '_kss-header.scss';
@import '_kss-navigation.scss';
@import '_kss-markdown.scss';
@import '_kss-documentation.scss';

@import '_kss-colors.scss';

.styleguide_frame{
    &{
        background-color: rgba($blue, 0.1);
    }
    > *{
        background-color: rgba($blue, 0.2);
        border:rgba($blue, 0.5) dashed 1px;
    }

}
