/*
Library
 
Description: Patterns used in the library streaming system
 
Markup:
<article class="br_radius bg_white-3 font_1 shadow_bevel-light">
	<header class="aspect-ratio_16x9 bg_cover br-tl_radius br-tr_radius relative w_100" style="background-image:url(http://placeimg.com/640/480/sports)">
		<div class="absolute t_0 l_3 p-x_3 p-y_2 bg_primary-n3 br-br_radius br-bl_radius c_white font-size_down-2" data-element="flags">Watched</div>
		<div class="absolute t_3 r_0" data-element="save-toggle">
			<span class="fa-stack fa-2x font-size_up-1">
			<i class="fa-solid fas fa-bookmark fa-stack-2x c_highlight"></i>
			<i class="fa-solid fas fa-star fa-stack-1x fa-inverse c_white"></i>
			</span>
		</div>
		<div class="absolute b_3 flex font_n1 l_4 r_4 self_baseline">
			<progress class="w_100" id="file" max="100" value="70"> 70% </progress>
		</div>
	</header>
	<main class="p_4 font_display flex flex_column gap-y_3">
		<div class="">
		<h1 class="font-size_down-1 font_regular c_secondary m-y_0"> {{> Data.Collection }} </h1>
		<h2 class="font-size_up-1 font_xbold c_primary m-y_0">{{> Data.Session.Title }}</h2>
		<h3 class="font-size_0 black-8 m-y_0">{{> Data.Session.Subtitle }}</h3>
		</div>
		<ul class="ul_none flex flex_row flex_wrap justify_start font-size_down-1 c_black-7 m-t_auto lh_0 items_end gap_2">
				<li class="inline-block p-r_3 p_2 lh_0">
				    <span class="font-size_up-1 c_accent-n2 block"><i class="fal fa-clock"></i> 15</span>
				    minutes
				</li>				<li class="inline-block br_radius p-x_3 m-l_n3 p_2 z_3 self_end relative h:bg_black-2 lh_0">
				    <a href="#" class="undecorated h:undecorated expanded-click-area">
				    <span class="font-size_up-1 c_primary-n2 block"><i class="fal fa-paperclip p-r_3"></i> <span class="p-r_3">PDF</span></span>
				        Attachments
				    </a>
				</li>			
		</ul>
	</main>
	<footer data-element="play-navigation-bar" class="bg_primary p_3 br-br_radius br-bl_radius"></footer>
</article>

MarkupWrapperClasses: grid grid-x_3:lg grid-x_1 gap_5 p_4 p-b_5 

Weight:0
 
Styleguide Library
*/