
/*

Simple

Description: When the count of sessions is lower then 10 in count, the Simple Design is recommended. 

Markup:
<header>
    <div class="font-size_up-2 font_display lh_1 c_primary-n2">
        <strong class="font_bold p-r_3">{{> "Data.Agenda.ID" }}</strong>
        {{> "Data.Session.Title" }}
    </div>
    <div class="font-size_up ">
        {{> "Data.Session.Subtitle" }}
    </div>
    <div class="c_accent font-size_down-1">
        {{> "Data.Agenda.LiveDate" }} {{> "Data.Agenda.LiveTime" }}
    </div>
</header>

Weight: 10
 
Styleguide Sessions.Simple

*/